.labelInput {
    padding-left: 0 !important;
}

.cardFull {
    margin: 0 !important;
    width: 100% !important;
}

.cardPaddingTop {
    margin-top: 20px !important;
}

.hidden {
    display: none;
}

.textInfoCard {
    margin-bottom: 0px !important;
}

.itemButom {
    margin-top: 10px;
}
// .alqAromasIonCarHeader>ion-label.label.label-md {
//     margin: 0px !important;
// }

.aromasCardContent > ion-grid.grid {
    padding: 0 !important;
    margin-top: -20px !important;
}

.buttomListAromas {
    padding-left: 0 !important;
}

.colListAromas {
    padding: 15px 15px 15px 0 !important;
}

// .alqAromasIonCarHeader {
//     padding-bottom: 0 !important;
// }

.alqAromasList>ion-label.label.label-md {
    padding: 0 !important;
    margin: 0 !important;
}

.alqAromasList>ion-item.item.item-block.item-md {
    padding: 0 !important;
}

.aromaCardIconFlask>button.item.item-block.item-md {
    padding: 0 !important;
}

.aromaCardIconFlask {
    padding-right: 5%;
}

.aromaCardButtomFlask {
    border-bottom: 1px solid #4B1ABC;
}

.alqAromasList>ion-label.label-md {
    padding: 0 !important;
}

.colBorder {
    border: 0px solid #f1f1f1;
    // margin-left: 0;
    // margin-top: 11px;
    // margin-bottom: 10px;
}

.spanPercent {
    padding-left: 20% !important;
}
.alertButtonDanger {
    color:orange;
}

.ionRangeCardFlotante {
    padding: 15px 0 !important;
}
.iconRight {
    float:right;
}

.outOfScreen {
    position: fixed;
    bottom: -1000%;
}
.tableDatos {
    width:100% !important;
}